// font color
.color-white{
  color: $color-white;
}
.color-white-90a{
  color: $color-white-90a;
}
.color-white-80a{
  color: $color-white-80a;
}
.color-white-60a{
  color: $color-white-60a;
}
.color-white-40a{
  color: $color-white-40a;
}
.color-white-20a{
  color: $color-white-20a;
}
.color-white-10a{
  color: $color-white-10a;
}
.color-white-5a{
  color: $color-white-5a;
}

.color-dark{
  color: $color-dark;
}
.color-dark-80a{
  color: $color-dark-80a;
}
.color-dark-60a{
  color: $color-dark-60a;
}
.color-dark-40a{
  color: $color-dark-40a;
}
.color-dark-20a{
  color: $color-dark-20a;
}
.color-dark-10a{
  color: $color-dark-10a;
}
.color-dark-5a{
  color: $color-dark-5a;
}

.color-grey{
  color: $color-grey;
}
.color-grey-light{
  color: $color-grey-light;
}
.color-grey-dark{
  color: $color-grey-dark;
}

.color-main{
  color: $color-main;
}
.color-main-light{
  color: $color-main-light;
}
.color-main-darken{
  color: $color-main-darken;
}

.color-sub{
  color: $color-sub;
}
.color-sub-light{
  color: $color-sub-light;
}
.color-sub-darken{
  color: $color-sub-darken;
}

.color-red{
  color: $color-red;
}
.color-blue{
  color: $color-blue;
}
.color-purple{
  color: $color-purple;
}
.color-green{
  color: $color-green;
}


//backgorund color
.bg-color-white{
  background-color: $color-white;
}
.bg-color-white-90a{
  background-color: $color-white-90a;
}
.bg-color-white-80a{
  background-color: $color-white-80a;
}
.bg-color-white-60a{
  background-color: $color-white-60a;
}
.bg-color-white-40a{
  background-color: $color-white-40a;
}
.bg-color-white-20a{
  background-color: $color-white-20a;
}
.bg-color-white-10a{
  background-color: $color-white-10a;
}
.bg-color-white-5a{
  background-color: $color-white-5a;
}

.bg-color-dark{
  background-color: $color-dark;
}
.bg-color-dark-80a{
  background-color: $color-dark-80a;
}
.bg-color-dark-60a{
  background-color: $color-dark-60a;
}
.bg-color-dark-40a{
  background-color: $color-dark-40a;
}
.bg-color-dark-20a{
  background-color: $color-dark-20a;
}
.bg-color-dark-10a{
  background-color: $color-dark-10a;
}
.bg-color-dark-5a{
  background-color: $color-dark-5a;
}

.bg-color-grey{
  background-color: $color-grey;
}
.bg-color-grey-light{
  background-color: $color-grey-light;
}
.bg-color-grey-dark{
  background-color: $color-grey-dark;
}

.bg-color-main{
  background-color: $color-main;
}
.bg-color-main-light{
  background-color: $color-main-light;
}
.bg-color-main-darken{
  background-color: $color-main-darken;
}

.bg-color-sub{
  background-color: $color-sub;
}
.bg-color-sub-light{
  background-color: $color-sub-light;
}
.bg-color-sub-darken{
  background-color: $color-sub-darken;
}

.bg-color-red{
  background-color: $color-red;
}
.bg-color-blue{
  background-color: $color-blue;
}
.bg-color-purple{
  background-color: $color-purple;
}
