<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>NOEIN OI</title>
<link rel="apple-touch-icon" href="http://projects.noeinoi.com/noeinoi/images/noeinoi-icon.png">
<link rel="icon" href="http://www.noeinoi.com/images/noeinoi-icon.png">
<meta property="og:image" content="http://www.noeinoi.com/images/noeinoi-share-image.jpg">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1024">
<meta property="og:image:height" content="1024">
<meta property="og:url" content="http://noeinoi.com">
<meta property="og:title"         content="NOEIN OI" />
<meta property="og:description"   content="APP, Web UI/UX Design by Harry Chuang." />

<script>

  var isIE = navigator.userAgent.search("MSIE") > -1;

  if(isIE){
    alert(" Sorry, this site does not support IE, please use Chrome, Firefox or Safari browser to browse this site :) ")
  }

</script>

<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

<!--[if lte IE 9]>
  <script src="scripts/console-polyfill.js"></script>
  <script src="scripts/es5-shim.min.js"></script>
  <script src="scripts/es5-sham.min.js"></script>
  <script src="scripts/fetch.js"></script>
  <script src="scripts/xhr-polyfill.js"></script>
<![endif]-->

<script type="text/javascript">
  if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
    document.write('<script src="scripts\/es6-promise.min.js"><\/script>');
    document.write('<script src="scripts\/es6-shim.min.js"><\/script>');
  }
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M5NV98K');</script>
<!-- End Google Tag Manager -->
