/* noeinoi header [start] */
.noeinoi-header{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $pc-screen-sm - 1) {
    height: 60px;
  }

  /* header logo [start] */
  &__logo{
    width: 170px;
    height: 30px;
    background-image: url('../images/logo.svg');
    @extend .bg-contain;

    @media screen and (max-width: $pc-screen-sm - 1) {
      width: 116px;
      height: 20px;
      margin-left: 15px;
    }

  }  /* header logo [end] */


  /* header nav [start] */
  &__nav{

    @media screen and (max-width: $pc-screen-sm - 1) {
      padding-right: 15px;
    }

    /* nav link [start] */
    &__link{
      letter-spacing: 2px;
      color: $color-dark;
      position: relative;
      text-decoration: none !important;
      cursor: pointer;
      text-transform: uppercase;

      &:before{
        content:'';
        display: block;
        width: 0%;
        height: 8px;
        position: absolute;
        top: 8px;
        left: 0px;
        // background-color: $color-main;
        @extend .animation-s;
      }

      &:nth-child(even){
        &:before{
          background-color: $color-sub;
        }
      }

      &:nth-child(odd){
        &:before{
          background-color: $color-main;
        }
      }

      &:hover{
        color: $color-dark !important;

        &:before{
          opacity: 0.7;
          width: 100%;
        }

        // text-decoration:line-through !important;
      }

      b{
        padding: 0 15px;
        @extend .ff-RobotBlackItalic;
      }

      &:after{
        content: 'I';
        display: inline-block;
        position: relative;
        margin: 0 15px;
        color: $color-main;
        font-weight: bolder;
        @extend .ff-RobotBlackItalic;
      }

      &:nth-child(odd){
        &:after{
          content: 'O';
          color: $color-sub;
        }
      }

      &--mobile{
        margin-left: 15px;

        &:before{
          display: none;
        }

        &:after{
          display: none;
        }

      }

      @media screen and (max-width: $pc-screen-sm - 1) {

        &:after{
          content: '';
          margin: 0 0;
        }

      }

      &:last-child{

        &:after{
          display: none;
        }

      }

    }  /* nav link [end] */

  }  /* header nav [end] */


}  /* noeinoi header [end] */
